
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.video-thumbnail{
    width: 100%;
}
.video-title{
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.video-author, .video-description{
    margin-bottom: 6px;
    font-size: 14px;
    color: rgb(96, 96, 96);
}
.video-info-grid{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 50px 1fr;
}
.channel-pfp{
    width: 50px;
}
.pfp{
    width: 80%;
    border-radius: 50px;
}

